<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="condition" v-bind:title="title">
            {{message}}
        </div>
        <div v-show="condition">
            {{condition}}
        </div>
        <input type="text" v-model="message">
        <button v-on:click="handleLogmessage">打印日志</button>
        <ol>
            <li v-for="(comment, index) in comments" :key="index">
                {{index}}~{{comment.content}}
            </li>
        </ol>

        <ul>
            <comment 
                v-for="(comment, index) in comments" :key="index" 
                v-bind:comment="comment" 
                v-bind:index="index">
            </comment>
        </ul>
    </div>
    <script src="../src/app/index.js"></script>
</body>

</html>